.main{
    display: inline-block;
    /* border: 2px solid red; */
    height: 600;
    width: 600;
    margin: 20px;
}
.main input{
    width: 250px;
    height: 30px;
    border-radius: 8px;
    padding: 6px;
    margin: 12px;
}
.convert-btn{
    float: right;
    padding: 10px;
    width: 134px;
    margin: 16px;
    border-radius: 8px
}
.conveted-amount{
    margin-top: 70px;
    height: 40px;
    align-items: center;
    border: groove;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 100%
}
.wrapper{
    margin: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}